<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../style/quiz.css">
<body>

    <div class="quiz-container">
        <div class="question-container">
            <div class="question">
                <p class="ques"></p>
                <div class="options">
                    <li class="option one" name="one" onclick="handleSelect(event)"></li>
                    <li class="option two" name="two" onclick="handleSelect(event)"></li>
                    <li class="option three" name="three" onclick="handleSelect(event)"></li>
                    <li class="option four" name="four" onclick="handleSelect(event)"></li>
                </div>
            </div>
            <div class="btns">
                <button type="button" class="skip" onclick="handleClick()">Skip</button>
                <button type="button" class="Next" onclick="handleClick()">Next</button>
            </div>
        </div>
    </div>
    
</body>
</html>

<script src="../scripts/quiz.js"></script>